<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>🔐</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='public/login_page.css') }}">
</head>

<body>
    <form method="post">
        <div>
            <h1>🔐</h1>
            <input id="input_password" type="password" name="password" placeholder="⛓️⛓️⛓️⛓️⛓️⛓️⛓️⛓️⛓️⛓️⛓️⛓️">
            <!-- <p style='color:red;'>❌ Неправильний пароль</p> -->
            <input id="submit" type="submit" value="Увійти">
        </div>
    </form>
</body>

</html>